.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.felxt-vertical-center {
  display: flex;
  align-items: center;
}

.cursorPointer {
  cursor: pointer;
}
.HeaderBox {
  width: 100%;
  height: 40px;
  display: flex;
}
.HeaderInput {
  width: 70%;
  padding-left: 20px;
  font-size: 18px;
}
.HeaderInput::placeholder {
  font-size: 18px;
}
.HeaderBtn {
  width: 10%;
  font-size: 18px;
  text-align: center;
}
.HeaderSelect {
  width: 10%;
  font-size: 18px;
  text-align: center;
  background: #c0eb75;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  border: none;
}
.todosTotal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.todos-h1-style {
  text-align: center;
}
.todosListBlock1년 {
  background: #99e9f2;
  height: 50px;
  width: 90vw;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.todosListBlock무기한 {
  background: thistle;
  width: 90vw;
  height: 50px;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.todosListBlock10년 {
  width: 90vw;
  background: lime;
  height: 50px;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.todosListDeleteBtn {
  background: tomato;
  color: white;
  font-size: 18px;
  border-radius: 10px;
}
.todosChkBox {
}
.todos-oneYear-style-box {
}
